name: Waka Detailed Stats

on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.secrets.GH_TOKEN }}

          SECTION_NAME: waka

          SHOW_COMMIT: true
          SHOW_LINES_OF_CODE: true
          SHOW_TIMEZONE: true
          SHOW_LANGUAGE: true
          SHOW_PROJECTS: true
          SHOW_SHORT_INFO: true
          SHOW_UPDATED_DATE: true